<!DOCTYPE html>
<!--[if lte IE 9]>
<html class="ie" lang="en">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>Demo-UI</title>
	<link rel='stylesheet' href='index.css'>
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css'>
</head>
<body>	
	<div class="sidebar">
		<div class="sidebar-expand-icon">
			<img src="http://www.clker.com/cliparts/r/c/z/k/x/c/greater-than-hi.png" alt="" />
		</div>
		<div class="ui basic blue button clicktopin" id="id-toggle-display" style="margin-bottom: 20px;">
			<i class="lock open icon"></i> PIN / UNPIN
		</div>
		<br />
		<div class="ui basic blue button" style="margin-bottom: 10px;">
			<i class="pause circle outline icon"></i> Pause
		</div>
		<div class="ui basic blue button" style="margin-bottom: 10px;">
			<i class="play circle outline icon"></i> Play
		</div>
		<div class="ui basic blue button" style="margin-bottom: 50px;">
			<i class="stop circle outline icon"></i> Stop
		</div>
		<div class="ui basic blue button" style="margin-bottom: 10px;">
			<i class="camera icon"></i> Video
		</div>
		<div class="ui basic blue button" style="margin-bottom: 10px;">
			<i class="microphone icon"></i> Audio
		</div>
		<br />
	</div>
	<iframe id="inlineFrameExample" title="Inline Frame Example" width="95%" height="100%" src="https://virginiatech.qualtrics.com/jfe/form/SV_9zr21jBB9mEjRVH">
	</iframe>
	<script src='index.js'></script>
</body>
</html>