* {
    box-sizing: border-box;
}

i {
    font-size: 1.5rem !important;
    cursor: pointer;
}

body {
    height: 100%;
}

p {
    color: #ccc;
    margin: 0;
    line-height: 1.5em;
}

#id-main-heading-app {
    color: #bdd5ed !important;
}

#id-toggle-display {
    padding: 13px;
}

.ui.form .inline.fields .field > label {
    color: #ffffff;
}

.sidebar-content-wrapper {
    height: calc(100% - 50px);
}

.camera_preview {
    text-align: center;
}

.camera_button {
    text-align: center;
    /*line-height: 50%;*/
}

.ui.inverted.segment>.sidebar-section-header {
    padding: 10px 15px;
    margin-bottom: 0;
    margin-top: 0;
}

.ui.inverted.segment .ui.list>.item {
    padding: 0.5em 0;
}

.ui.vertical.buttons.btn-session-control {
    align-items: center;
    padding: 5px;
    display: flex;
}

.ui.vertical.buttons.btn-session-control .button {
    width: 50%;
    margin: 0.55em 0;
}

/* =============== utilities classes ====================== */

.bckg-transparent {
    background-color: transparent !important;
}

.pad-default {
    padding: 1em!important;
}

.align-text-left {
    text-align: left!important;
}

/* =============== override defaults - semantic ============ */

.ui.segment {
    border: none;
    padding: 0.5em 1em;
}

.ui.wide.left.sidebar, .ui.wide.right.sidebar {
    width: 300px;
}

.ui.vertical.pointing.menu .item:after{
    top: auto;
    right: 0;
    bottom: 0;
    left: 25px;
    -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
    transform: translateX(35%) translateY(35%) rotate(130deg);
}

.ui.inverted.segment, .ui.primary.inverted.segment {
    background: rgb(44, 78, 106);
    height: auto;
}

.ui.inverted.menu {
    background: rgb(44, 78, 106);
}

.ui.inverted.icon.menu .tabular .item {
    float: left;
    padding: 1em 1.5em;
    flex: 1 1 0;
}

.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
    background: #F44336 !important;
}

.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
    background-color: rgb(44, 78, 106);
}

.ui.menu {
    height: 50px;
}

.ui.sidebar>.ui.segment {
    margin-bottom: 0;
    height: calc(100% - 64px);
}

.ui.segment[class*="bottom attached"] {
    margin-bottom: 0;
}

.list .item{
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.ui.statistic {
    width: 100%;
    margin: 1em auto;
}

.ui.statistic>.label {
    text-transform: none;
}

.ui.accordion .title:not(.ui) {
    color: rgb(255, 255, 255);
}